<nav class="navbar navbar-expand-lg navbar-light shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <span class="logo-color">Paw</span>Paradise
    </a>
    <a
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 m-lg-0">
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{% url 'adoption:dog_list' %}" class="nav-link">Adoption</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
        <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link">FAQ</a></li>
      </ul>
      
      <div class="ml-auto d-flex align-items-center">
        {% if user.is_authenticated %}
        <!-- logout -->
        <a href="javascript:{document.getElementById('logout').submit()}" class="btn btn-sm btn-custom order-lg-2">Logout</a>
        <form action="{% url 'logout' %}" method="POST" id="logout">
        {% csrf_token %}
        <input type="hidden" />
        </form>
        <!-- dashboard -->
        <a href="{% url 'dashboard' %}" class="nav-link order-lg-3"> <i class="fas fa-user mr-1"></i>HI, {{user.last_name}}</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-sm btn-custom order-lg-2">Login/Register</a>
        {% endif %}

        <a href="/cart" class="btn position-relative mr-3 order-lg-1">
            <i class="fas fa-shopping-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-light">
                0
            </span>
        </a>

        <div class=" text-right social">
          <a href="#"><i class="fa-brands fa-facebook mr-2"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      
  </div>
  </div>
</nav>