{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="container py-4">
    <!-- FAQ -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="font-weight-bolder mt-4 mb-4 pl-4 text-left title-color">Frequently Asked Questions</h2>
        </div>
    </div>
                
    <div id="accordion">
        <div class="card border-0 bg-transparent">
            <div class="card-header bg-transparent border-0">
                <h5>
                    <a
                        href="#collapse1" 
                        data-parent="#accordion"
                        data-toggle="collapse" 
                    >+ 
                    </a>
                Q1. Why should I adopt a dog instead of buying from a breeder?
                </h5>
            </div>
            <div class="collapse" id="collapse1">
                <div class="card-body pl-5 shadow-sm">
                    Adopting a dog saves a life, reduces demand for puppy mills, and is often more affordable. Shelters provide vaccinated, spayed/neutered dogs, and you’ll support their mission to help animals in need. 
                </div>
            </div>
        </div>

        <div class="card border-0 bg-transparent">
            <div class="card-header bg-transparent border-0">
                <h5>
                    <a
                        href="#collapse2" 
                        data-parent="#accordion"
                        data-toggle="collapse" 
                    >+ 
                    </a>
                Q2. What are the typical requirements for adopting a dog?
                </h5>
            </div>
            <div class="collapse" id="collapse2">
                <div class="card-body pl-5 shadow-sm">
                    Requirements vary but often include being at least 18–21 years old, proof of stable income, landlord approval (if renting), a home visit, references, and an application form. Adoption fees usually apply. 
                </div>
            </div>
        </div>

        <div class="card border-0 bg-transparent">
            <div class="card-header bg-transparent border-0">
                <h5>
                    <a
                        href="#collapse3" 
                        data-parent="#accordion"
                        data-toggle="collapse" 
                    >+ 
                    </a>
                Q3. How much does dog adoption cost?
                </h5>
            </div>
            <div class="collapse" id="collapse3">
                <div class="card-body pl-5 shadow-sm">
                    HKD 800-1000 typically covers vaccines, microchipping and spay/neuter. Budget HKD 500-1000/month for ongoing costs like food, vet visits, and grooming. 
                </div>
            </div>
        </div>

        <div class="card border-0 bg-transparent">
            <div class="card-header bg-transparent border-0">
                <h5>
                    <a
                        href="#collapse4" 
                        data-parent="#accordion"
                        data-toggle="collapse" 
                    >+ 
                    </a>
                Q4. How do I choose the right dog for my lifestyle??
                </h5>
            </div>
            <div class="collapse" id="collapse4">
                <div class="card-body pl-5 shadow-sm">
                    Consider your activity level, living space, and time availability. Puppies and high-energy breeds need more attention, while seniors or smaller dogs may suit quieter homes. Shelter staff can help match you! 
                </div>
            </div>
        </div>

        <div class="card border-0 bg-transparent">
            <div class="card-header bg-transparent border-0">
                <h5>
                    <a
                        href="#collapse5" 
                        data-parent="#accordion"
                        data-toggle="collapse" 
                    >+ 
                    </a>
                Q5. What if the dog has behavioral issues?
                </h5>
            </div>
            <div class="collapse" id="collapse5">
                <div class="card-body pl-5 shadow-sm">
                    Shelters often assess dogs’ behavior and disclose known issues. Many offer post-adoption support or training resources. Patience, consistency, and professional trainers can address most challenges. 
                </div>
            </div>
        </div>

        <div class="card border-0 bg-transparent">
            <div class="card-header bg-transparent border-0">
                <h5>
                    <a
                        href="#collapse6" 
                        data-parent="#accordion"
                        data-toggle="collapse" 
                    >+ 
                    </a>
                Q6. Are adopted dogs healthy?
                </h5>
            </div>
            <div class="collapse" id="collapse6">
                <div class="card-body pl-5 shadow-sm">
                    Shelters provide basic vet care, but health histories can be incomplete. Schedule a vet visit post-adoption to check for underlying issues and establish a care plan. 
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}