#header {
  height:50px;
  background: #0077b6;
  color: #fff;
}

#branding h1 {
  color: #caf0f8;
  align-self: center;
}

a:link, a:visited {
  color: #454E88;
}

a:hover {
  color: #5B6EB5;
}

div.breadcrumbs {
  background: #caf0f8;
  color: #454E88;
}

div .breadcrumbs a {
  color : #333;
}

.module h2, .module caption, .inline-group h2 {
  background: #0077b6;
}

.button, input[type="button"], input[type="submit"],
.submit-row input ,a.button {
  background: #00b4d8;
  color: #fff;
}